@import views.html.indicator
@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil)

@indicator.main("OncoCensus"){
  <script src="@routes.Assets.versioned("javascripts/indicator.js")"></script>
  <div class="row no-margin-left no-margin-right">
    <div class="col-sm-6 widget-container-col no-padding-left" id="widget-container-col-1">
      <div class="widget-box transparent" id="widget-box-1">
        <div class="widget-header">
          <h4 class="widget-title lighter">VILOYATLAR</h4>

          <div class="widget-toolbar no-border">
            <a href="#" data-action="settings">
              <i class="ace-icon fa fa-cog"></i>
            </a>

            <a href="#" data-action="reload">
              <i class="ace-icon fa fa-refresh"></i>
            </a>
          </div>
        </div>

        <div class="widget-body">
          <div class="widget-main">
            <div id="regionsChart" style="height: 300px; width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 widget-container-col no-padding-left no-padding-right" id="widget-container-col-2">
      <div class="widget-box transparent" id="widget-box-2">
        <div class="widget-header">
          <h4 class="widget-title lighter"><span data-bind="text: vm.selected.regionName"></span> VILOYATI</h4>

          <div class="widget-toolbar no-border">
            <a href="#" data-action="settings">
              <i class="ace-icon fa fa-cog"></i>
            </a>

            <a href="#" data-action="reload">
              <i class="ace-icon fa fa-refresh"></i>
            </a>
          </div>
        </div>

        <div class="widget-body">
          <div class="widget-main">
            <div id="districtsChart" style="height: 300px; width: 100%;"></div>
            <hr>
            <div id="patientsStatsChart" style="height: 300px; width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
}