@import views.html.indicator
@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil)

@indicator.main("OncoCensus"){
  <script src="@routes.Assets.versioned("javascripts/indicator.js")"></script>
  <div class="row no-margin-left no-margin-right">
    <div class="col-sm-6 widget-container-col no-padding-left" id="widget-container-col-1">
      <div class="widget-box transparent" id="widget-box-1">
        <div class="widget-header">
          <h4 class="widget-title lighter">VILOYATLAR</h4>

          <div class="widget-toolbar no-border">
            <a href="#" data-action="settings">
              <i class="ace-icon fa fa-cog"></i>
            </a>

            <a href="#" data-action="reload">
              <i class="ace-icon fa fa-refresh"></i>
            </a>
          </div>
        </div>

        <div class="widget-body">
          <div class="widget-main">
            <div id="regionsChart" style="height: 300px; width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 widget-container-col no-padding-left no-padding-right" id="widget-container-col-2">
      <div class="widget-box transparent" id="widget-box-2">
        <div class="widget-header">
          <h4 class="widget-title lighter"><span data-bind="text: vm.selected.regionName"></span> VILOYATI</h4>
        </div>

        <div class="widget-body">
          <div class="widget-main">
            <div id="districtsChart" style="height: 300px; width: 100%;"></div>
              @*<div id="patientsStatsChart" style="height: 300px; width: 100%;"></div>*@
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 widget-container-col no-padding-left no-padding-right" id="widget-container-col-3">
      <div class="widget-box transparent" id="widget-box-3">
        <div class="widget-header">
          <h4 class="widget-title lighter"><span data-bind="text: vm.selected.regionName"></span> VILOYATI BO'YICHA KASALLIK KO'RSATKICHLARI</h4>
        </div>

        <div class="widget-body">
          <div class="widget-main no-padding">
            <table class="table table-bordered table-striped">
              <thead class="thin-border-bottom">
                <tr>
                  <th>
                    <i class="ace-icon fa fa-caret-right blue"></i>MKB
                  </th>

                  <th>
                    <i class="ace-icon fa fa-caret-right blue"></i>Nomi
                  </th>

                  <th>
                    <i class="ace-icon fa fa-caret-right blue"></i>Absolyut ko'rsatkich
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>internet.com</td>

                  <td>
                      <small>
                          <s class="red">$29.99</s>
                      </small>
                      <b class="green">$19.99</b>
                  </td>

                  <td class="hidden-480">
                      <span class="label label-info arrowed-right arrowed-in">on sale</span>
                  </td>
                </tr>

                <tr>
                  <td>online.com</td>

                  <td>
                      <b class="blue">$16.45</b>
                  </td>

                  <td class="hidden-480">
                      <span class="label label-success arrowed-in arrowed-in-right">approved</span>
                  </td>
                </tr>

                <tr>
                  <td>newnet.com</td>

                  <td>
                      <b class="blue">$15.00</b>
                  </td>

                  <td class="hidden-480">
                      <span class="label label-danger arrowed">pending</span>
                  </td>
                </tr>

                <tr>
                  <td>web.com</td>

                  <td>
                      <small>
                          <s class="red">$24.99</s>
                      </small>
                      <b class="green">$19.95</b>
                  </td>

                  <td class="hidden-480">
                      <span class="label arrowed">
                          <s>out of stock</s>
                      </span>
                  </td>
                </tr>

                <tr>
                  <td>domain.com</td>

                  <td>
                      <b class="blue">$12.00</b>
                  </td>

                  <td class="hidden-480">
                      <span class="label label-warning arrowed arrowed-right">SOLD</span>
                  </td>
                </tr>
              </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
}