@import views.html.card_index
@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil)

@card_index.main("OncoCensus"){
  @Html(webJarsUtil.script("twbs-pagination/1.2.5/jquery.twbsPagination.min.js"))
  <script src="@routes.Assets.versioned("javascripts/card_index.js")"></script>

  <div class="row no-margin-left no-margin-right">
    @card_index.list()

    <div data-bind="visible: vm.rightPage() == vm.PageName.Summary" class="col-sm-8 widget-container-col no-padding-left no-padding-right" id="widget-container-col-3">
      @card_index.summary()
    </div>

    <div data-bind="visible: vm.rightPage() == vm.PageName.CardIndex" class="col-sm-8 widget-container-col no-padding-left no-padding-right" id="widget-container-col-2">
      @card_index.info()
    </div>
  </div>

}
