@()
<div>
  <input class="input-sm form-control" width="100%" type="text">
  <div style="margin-top: 5px; margin-bottom: 5px" >
    <a href="#" class="blue">
      <span class="fa fa-search"></span>
      Kengaytirilgan qidiruv
    </a>
  </div>
  <!-- ko template: {name: 'patient-table-template', data: {patients: vm.patients, vm: vm}} -->
  <!-- /ko -->
</div>

<script type="text/html" id="patient-table-template">
  <table class="table table-hover">
    <tbody data-bind="foreach: $data.patients">
      <tr data-bind="click: $parent.vm.onPatientSelected, css: {'bg-info': $parent.vm.selected.patient.id() == $data.id}">
        <td width="10%" class="text-center h3"><span class="fa fa-user"></span></td>
        <td width="90%">
          <span data-bind="text: $data.lastName"></span>&nbsp;
          <span data-bind="text: $data.firstName"></span><br>
          ? yoshda
          <span data-bind="text: $data.patientDataJson.passportNo"></span>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<div id="add-patient-modal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Yangi bemor qo'shish</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div data-bind="template: {name: 'patient-fields-template', data: {patient: vm.selected.patient, vm: vm }}"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="update-patient-modal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bemor malumotlarini tahrirlash</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div data-bind="template: {name: 'patient-fields-template', data: {patient: vm.selected.patient, vm: vm }}"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="patient-fields-template">
  <form action="@controllers.routes.CardIndexController.modifyPatient" id="patient-form"
    enctype="multipart/form-data" method="post">
    <div class="form-group col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <label for="patientsPhoto">Fotosurat</label><br>
          <img id="avatar" class="profile-picture" alt="Avatar" src="assets/images/profile-pic.jpg" height="130px"/>
          <input type="file" name="patientsPhoto" id="patientsPhoto">
          <input type="hidden" name="patientId" id="patientId" data-bind="value: patient.id">
        </div>
        <div class="col-xs-6">
          <div>
            <label for="input1">Ism</label>
            <input type="text" class="form-control" id="firstName" data-bind="value: patient.firstName" name="firstName">
          </div>
          <div>
            <label for="input2">Familiya</label>
            <input type="text" class="form-control" id="lastName" data-bind="value: patient.lastName" name="lastName">
          </div>
          <div>
            <label for="input3">Otasining ismi</label>
            <input type="text" class="form-control" id="middleName" data-bind="value: patient.middleName" name="middleName">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group col-xs-12">
      <div class="row no-padding-left no-padding-right">
        <div class="col-xs-6">
          <label for="gender">Jins</label>
          <select class="form-control" autocomplete="off" name="gender" id="gender" data-bind="value: patient.gender">
            <option value>Jinsi</option>
            <option value="Male">Erkak</option>
            <option value="Female">Ayol</option>
          </select>
        </div>
        <div class="col-xs-6">
          <label for="birthDate">Tug'ulgan yil</label>
          <input type="text" class="form-control" id="birthDate" name="birthDate" data-bind="value: patient.birthDate"/>
          @*<div class="input-group">
          <span class="input-group-addon">
          <i class="fa fa-calendar bigger-110"></i>
          </span>
          </div>*@
        </div>
      </div>
    </div>

    <div class="form-group col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <label class="control-label no-padding-right" for="clientGroup">Klient guruh</label>
          <select class="form-control" autocomplete="off" name="clientGroupId" id="clientGroupId"
          data-bind="options: vm.clientGroups, optionsText: 'name', optionsValue: 'id', value: patient.clientGroupId, optionsCaption: 'Klient guruhi'">
          </select>
        </div>
        <div class="col-xs-6">
          <label for="bloodGroup">Qon guruh</label>
          <select class="form-control" autocomplete="off" name="bloodGroup" id="bloodGroup"
          data-bind="options: vm.bloodGroups, value: patient.patientDataJson.bloodGroup, optionsCaption: 'Qon guruhi'">
          </select>
        </div>
      </div>
    </div>

    <div class="form-group col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <label for="passportNumber">Passport Raqam</label>
          <input type="text" class="form-control" id="passportNumber" data-bind="value: patient.patientDataJson.passportNo" name="passportNumber">
        </div>
      </div>
    </div>

    <div class="form-group col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <label class="control-label no-padding-right" for="region">Viloyat</label>
          <select class="form-control" autocomplete="off" name="regionId" id="regionId"
          data-bind="options: vm.regions, optionsText: 'name', optionsValue: 'id', value: patient.regionId, optionsCaption: 'Viloyat'">
          </select>
        </div>
        <div class="col-xs-6">
          <label class="control-label no-padding-right" for="district">Tuman</label>
          <select class="form-control" autocomplete="off" name="districtId" id="districtId"
          data-bind="options: vm.selected.districts, optionsText: 'name', optionsValue: 'id', value: patient.districtId, optionsCaption: 'Tuman'">
          </select>
        </div>
      </div>
    </div>

    <div class="form-group col-xs-12">
      <div class="row">
        <div class="col-xs-5">
          <label for="province">Mahalla</label>
          <input type="text" class="form-control" id="province" data-bind="value: patient.patientDataJson.province" name="province">
        </div>
        <div class="col-xs-5">
          <label for="street">Ko'cha</label>
          <input type="text" class="form-control" id="street" data-bind="value: patient.patientDataJson.street" name="street">
        </div>
        <div class="col-xs-2">
          <label for="home">Uy</label>
          <input type="text" class="form-control" id="home" data-bind="value: patient.patientDataJson.home" name="home">
        </div>
      </div>
    </div>

    <div class="form-group col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <label for="work">Ish (O'qish) joyi</label>
          <input type="text" class="form-control" id="work" data-bind="value: patient.patientDataJson.work" name="work">
        </div>
        <div class="col-xs-6">
          <label for="position">Lavozimi</label>
          <input type="text" class="form-control" id="position" data-bind="value: patient.patientDataJson.position" name="position">
        </div>
      </div>
    </div>

    <div class="form-group col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <label for="phoneNumber">Telefon raqam</label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="ace-icon fa fa-phone"></i>
            </span>
            <input type="text" class="form-control" id="phoneNumber" data-bind="value: patient.phoneNumber" name="phoneNumber"/>
          </div>
        </div>
        <div class="col-xs-6">
          <label for="email">Elektron pochta</label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="ace-icon fa fa-envelope"></i>
            </span>
            <input type="text" class="form-control" id="email" data-bind="value: patient.email" name="email">
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-offset-4 col-xs-8">
      <button type="submit" class="pull-left btn btn-primary" data-bind="disable: vm.isLoading">Saqlash</button>
      <div class="pull-left">&nbsp; &nbsp;</div>
      <button type="button" class="pull-left btn btn-danger" data-dismiss="modal">Bekor qilish</button> &nbsp;
      <div class="pull-left">&nbsp; &nbsp;</div>
      <div class="pull-left busy-loader" data-bl-selector=".app-select" data-bl-url="card-index/patient"></div>
    </div>
  </form>
</script>

