@()
<div class="col-sm-4 widget-container-col no-padding-left" id="widget-container-col-1">
  <div class="widget-box transparent" id="widget-box-12">
    <div class="widget-header">
      <h4 class="widget-title lighter">BEMORLAR</h4>

      <div class="widget-toolbar no-border">
        <a href="#" data-action="settings">
          <i class="ace-icon fa fa-cog"></i>
        </a>

        <a href="#" data-action="reload" data-bind="click: vm.onFilterPatients">
          <i class="ace-icon fa fa-refresh"></i>
        </a>

        <a href="#" data-action="add" data-bind="click: vm.onClickAddPatient">
          <i class="ace-icon fa fa-plus"></i>
        </a>

        <a href="#" data-action="add-patients" data-bind="click: vm.onClickUploadPatients">
          <i class="ace-icon fa fa-file"></i>
        </a>
      </div>
    </div>

    <div class="widget-body">
      <div class="widget-main padding-6 no-padding-left no-padding-right">

        <span class="input-icon block" style="display: block;">
          <input type="text" data-bind="value: vm.filters.lastName, valueUpdate: 'keyup keypress'" class="input-sm form-control">
          <i class="ace-icon fa fa-search"></i>
        </span>
        <small class="text-muted">Bemorning familiyasini kiriting</small>
        <div style="margin-bottom: 5px">
          <a href="#" class="blue" data-bind="click: vm.enableFilters">
            <span class="fa fa-filter"></span>
            Kengaytirilgan qidiruv
          </a>
          <div data-bind="visible: vm.isFiltersShown">
            <div class="space-2"></div>
            <div class="row">
              <label for="by-gender" class="col-sm-3 text-right" style="font-size: 13px;">Jins</label>
              <div class="col-sm-9" id="by-gender">
                <label>
                  <input type="checkbox" data-bind="checked: vm.filters.isMale" class="ace">
                  <span class="lbl"> Erkak</span>
                </label>&nbsp;&nbsp;&nbsp;
                <label>
                  <input type="checkbox" data-bind="checked: vm.filters.isFemale" class="ace">
                  <span class="lbl"> Ayol</span>
                </label>
              </div>
            </div>
            <div class="space-2"></div>
            <div class="row">
              <label for="by-age" class="col-sm-3 text-right" style="font-size: 13px;">Yosh</label>
              <div class="col-sm-9 form-inline" id="by-age">
                <div class="form-group">
                  <input type="number" data-bind="value: vm.filters.minAge, valueUpdate: 'keyup keypress'" class="form-control input-sm" min="0" max="100" style="width: 55px;"> &nbsp; dan &nbsp;
                </div>
                <div class="form-group">
                  <input type="number" data-bind="value: vm.filters.maxAge, valueUpdate: 'keyup keypress'" class="form-control input-sm" min="0" max="100" style="width: 55px;"> &nbsp; gacha &nbsp;
                </div>
              </div>
            </div>
            <div class="space-2"></div>
            <div class="row">
              <label for="by-region" class="col-sm-3 text-right" style="font-size: 13px;">Viloyat</label>
              <div class="col-sm-9 form-inline" id="by-region">
                <select class="form-control input-sm" autocomplete="off" name="regionId" id="regionId"
                data-bind="options: vm.regions, optionsText: 'name', optionsValue: 'id', value: vm.filters.regionId, optionsCaption: ''">
                </select>
              </div>
            </div>
            <div class="space-2"></div>
            <div class="row">
              <label for="by-district" class="col-sm-3 text-right" style="font-size: 13px;">Tuman</label>
              <div class="col-sm-9 form-inline" id="by-district">
                <select class="form-control input-sm" autocomplete="off" name="regionId" id="regionId"
                data-bind="options: vm.selected.districts, optionsText: 'name', optionsValue: 'id', value: vm.filters.districtId, optionsCaption: ''">
                </select>
              </div>
            </div>
            <div class="space-2"></div>
            <div class="row">
              <label for="by-client-group" class="col-sm-3 text-right" style="font-size: 13px;">MKB</label>
              <div class="col-sm-9 form-inline" id="by-client-group">
                <select class="form-control input-sm" autocomplete="off" name="regionId" id="regionId"
                data-bind="options: vm.icds, optionsText: 'code', optionsValue: 'id', value: vm.filters.icdId, optionsCaption: ''">
                </select>
              </div>
            </div>
            <div class="space-2"></div>
            <div class="row">
              <label for="by-passport-id" class="col-sm-3 text-right" style="font-size: 13px;">Passport №</label>
              <div class="col-sm-9 form-inline" id="by-passport-id">
                <input type="text" class="form-control input-sm" data-bind="value: vm.filters.passportId, valueUpdate: 'keyup keypress'">
              </div>
            </div>
            <div class="space-2"></div>
            <div class="row">
              <label for="by-province" class="col-sm-3 text-right" style="font-size: 13px;">Mahalla</label>
              <div class="col-sm-9 form-inline" id="by-province">
                <input type="text" class="form-control input-sm" data-bind="value: vm.filters.province, valueUpdate: 'keyup keypress'">
              </div>
            </div>
          </div>
        </div>
        <div data-bind="visible: vm.patients().length > 0">
          <table class="table table-hover items-list">
            <tbody data-bind="foreach: vm.patients">
              <tr data-bind="click: $root.vm.onPatientSelected, css: {'bg-info': $root.vm.selected.patient.id() == $data.id}">
                @*<td width="10%" class="text-center h3">
                  <span data-bind="visible: $data.gender == 'Male'" class="fa fa-male"></span>
                  <span data-bind="visible: $data.gender == 'Female'" class="fa fa-female"></span>
                </td>*@
                <td width="10%" class="text-center h3"><span class="fa fa-user"></span></td>
                <td width="90%">
                  <span data-bind="text: $data.lastName"></span>&nbsp;
                  <span data-bind="text: $data.firstName"></span><br>
                  <span data-bind="if: !$data.supervisedOutJson">
                    <i class="ace-icon fa fa-calendar-check-o bigger-110 green" style="padding-left: 2px;"></i>
                    <span data-bind="text: $root.vm.formatDate($data.createdAt, 'MMMM DD, YYYY')"></span>,
                  </span>
                  <span data-bind="if: $data.supervisedOutJson">
                    <i class="ace-icon fa fa-calendar-times-o bigger-110 red" style="padding-left: 2px;"></i>
                    <span data-bind="text: $root.vm.formatDate(parseInt($data.supervisedOutJson.date), 'MMMM DD, YYYY')"></span>,
                  </span>
                  <span data-bind="visible: $data.icd.code"><span data-bind="text: $data.icd.code"></span></span>,
                  <span data-bind="visible: $data.age"><span data-bind="text: $data.age"></span> yoshda</span>,
                  <span data-bind="text: $data.patientDataJson.passportId"></span>
                  @*<span data-bind="text: $data.district.name"></span>*@
                </td>
              </tr>
            </tbody>
          </table>
          <ul id="pagination" style="margin: 0px!important;"></ul>
        </div>
        <div class="alert alert-info" data-bind="visible: vm.patients().length == 0">
          <span class="text-center text-info"><span class="fa fa-info-circle"></span> So'rov bo'yicha ma'lumot topilmadi!</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="patient-modal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <i class="ace-icon fa fa-credit-card"></i>&nbsp;
          Passport ma'lumotlari
        </h4>
      </div>
      <div class="modal-body">
        <form action="@controllers.routes.CardIndexController.modifyPatient" id="patient-form"
          enctype="multipart/form-data" method="post">
          <div class="row">
            <div class="col-sm-3">
              <img id="avatar" class="profile-picture" alt="Avatar" src="assets/images/profile-pic.jpg" height="130px"/>
              <input type="file" name="patientsPhoto" id="patientsPhoto">
              <input type="hidden" name="patientId" id="patientId" data-bind="value: vm.selected.patient.id">
            </div>

            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="input1">Ism</label>
                    <input placeholder="Ism" type="text" class="form-control" id="firstName" data-bind="value: vm.selected.patient.firstName" name="firstName">
                  </div>
                  <div class="form-group">
                    <label for="input2">Familiya</label>
                    <input placeholder="Familiya" type="text" class="form-control" id="lastName" data-bind="value: vm.selected.patient.lastName" name="lastName">
                  </div>
                  <div class="form-group">
                    <label for="input3">Otasining ismi</label>
                    <input placeholder="Otasining ismi" type="text" class="form-control" id="middleName" data-bind="value: vm.selected.patient.middleName" name="middleName">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="gender">Jins</label>
                    <select class="form-control" autocomplete="off" name="gender" id="gender" data-bind="value: vm.selected.patient.gender">
                      <option value>Jinsi</option>
                      <option value="Male">Erkak</option>
                      <option value="Female">Ayol</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="birthDate">Tug'ulgan yil</label>
                    <div class="input-group" id="birthDate" data-bind="datetimepicker: vm.selected.patient.birthDate,
                    dateTimePickerOptions: {format: 'MM.DD.YYYY', pickTime: false}">
                      <input type='text' name="birthDate" class="form-control" data-bind="value: vm.selected.patient.birthDate"/>
                      <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="passportId">Passport Raqami</label>
                    <input placeholder="Passport Raqam" type="text" class="form-control" id="passportId" data-bind="value: vm.selected.patient.passportId" name="passportId">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <label for="bloodType">Qon guruh</label>
              <select class="form-control" autocomplete="off" name="bloodType" id="bloodType"
              data-bind="options: vm.bloodTypes, value: vm.selected.patient.patientDataJson.bloodType, optionsCaption: 'Qon guruhi'">
              </select>
            </div>
            <div class="col-sm-4">
              <label class="control-label" for="icd">MKB</label>
              <select class="form-control" autocomplete="off" name="icdId" id="icdId"
              data-bind="options: vm.icds, optionsText: 'code', optionsValue: 'id', value: vm.selected.patient.icdId, optionsCaption: 'MKB'">
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <label class="control-label" for="region">Viloyat</label>
              <select class="form-control" autocomplete="off" name="regionId" id="regionId"
              data-bind="options: vm.regions, optionsText: 'name', optionsValue: 'id', value: vm.selected.patient.regionId, optionsCaption: 'Viloyat'">
              </select>
            </div>
            <div class="col-sm-4">
              <label class="control-label" for="district">Tuman</label>
              <select class="form-control" autocomplete="off" name="districtId" id="districtId"
              data-bind="options: vm.selected.districts, optionsText: 'name', optionsValue: 'id', value: vm.selected.patient.districtId, optionsCaption: 'Tuman'">
              </select>
            </div>
            <div class="col-sm-4">
              <label class="control-label" for="villageId">Qishloq/Shaharcha</label>
              <select class="form-control" autocomplete="off" name="villageId" id="villageId"
              data-bind="options: vm.selected.villages, optionsText: 'name', optionsValue: 'id', value: vm.selected.patient.villageId, optionsCaption: 'Qishloq/Shaharcha'">
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <label for="province">Mahalla</label>
              <input type="text" class="form-control" id="province" data-bind="value: vm.selected.patient.patientDataJson.province" name="province">
            </div>
            <div class="col-sm-4">
              <label for="street">Ko'cha</label>
              <input type="text" class="form-control" id="street" data-bind="value: vm.selected.patient.patientDataJson.street" name="street">
            </div>
            <div class="col-sm-4">
              <label for="home">Uy</label>
              <input type="text" class="form-control" id="home" data-bind="value: vm.selected.patient.patientDataJson.home" name="home">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <label for="work">Ish (O'qish) joyi</label>
              <input type="text" class="form-control" id="work" data-bind="value: vm.selected.patient.patientDataJson.work" name="work">
            </div>
            <div class="col-sm-4">
              <label for="position">Lavozimi</label>
              <input type="text" class="form-control" id="position" data-bind="value: vm.selected.patient.patientDataJson.position" name="position">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <label for="phoneNumber">Telefon raqam</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="ace-icon fa fa-phone"></i>
                </span>
                <input type="text" class="form-control" id="phoneNumber" data-bind="value: vm.selected.patient.patientDataJson.phoneNumber" name="phoneNumber"/>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="email">Elektron pochta</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="ace-icon fa fa-envelope"></i>
                </span>
                <input type="text" class="form-control" id="email" data-bind="value: vm.selected.patient.patientDataJson.email" name="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-white btn-bold btn-warning pull-left save" data-bind="click: vm.onSubmitPatient, disable: vm.isLoading">Saqlash</button>
              <div class="pull-left">&nbsp; &nbsp;</div>
              <div class="pull-left busy-loader" data-bl-selector=".save .cancel" data-bl-url="card-index/patient"></div>
              <button type="button" class="btn btn-white btn-bold btn-default pull-right cancel" data-dismiss="modal">Bekor qilish</button> &nbsp;
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

@* Patients document upload *@
<div id="patients-file-upload-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="docUpload" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Chiqish"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Bemorlar ma'lumotlarini fayldan yuklash</h4>
      </div>
      <div class="modal-body">
        <form action="@controllers.routes.CardIndexController.uploadPatients()" id="patients-file-upload-form" enctype="multipart/form-data" method="post" role="document">
          <div class="form-group">
            <div class="input-group">
              <label class="input-group-btn">
                <span type="button" class="btn btn-warning btn-white">
                  Faylni tanlang <input type="file" name="file" data-bind="event:{ change: vm.onPatientsFileSelected }" style="display: none;">
                </span>
              </label>
              <input type="text" class="form-control" data-bind="value: vm.patientsFileName()" readonly>
            </div>
            <span class="text-warning">NOTE: Bemorlar ma'lumotlari faylini XLCX formatda yuklang.</span>
          </div>
          <div id="progress">
            <div class="bar" style="width: 0%;"></div>
          </div>
          <div>
            <button type="submit" data-bind="click: vm.onSubmitPatientsFile" class="btn btn-white btn-bold btn-warning">Yuklash</button>
            <button type="reset" data-bind="click: vm.onCancelPatientsFile" class="btn btn-white btn-bold btn-default pull-right" data-dismiss="modal">Bekor qilish</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
