@()
<div data-bind="visible: vm.rightPage() == vm.PageName.CardIndex" class="col-sm-8 widget-container-col no-padding-left no-padding-right" id="widget-container-col-2">
  <div class="widget-box transparent" id="widget-box-12">
    <div class="widget-header">
      <h4 class="widget-title lighter">AMBULATOR TIBBIY MA'LUMOTLAR</h4>

      <div class="widget-toolbar no-border">
        <a href="#" data-action="settings">
          <i class="ace-icon fa fa-cog"></i>
        </a>

        <a href="#" data-action="reload">
          <i class="ace-icon fa fa-refresh"></i>
        </a>

        <a href="#" data-action="edit" data-bind="click: vm.onClickEditPatient, enable: vm.selected.patient.id()">
          <i class="ace-icon fa fa-edit"></i>
        </a>

        <a href="#" data-action="remove" data-bind="click: vm.onClickRemovePatient, enable: vm.selected.patient.id()">
          <i class="ace-icon fa fa-trash-o"></i>
        </a>

        <a href="#" data-action="close" data-bind="click: vm.onClosePatientInfoPage">
          <i class="ace-icon fa fa-close"></i>
        </a>
      </div>
    </div>

    <div class="widget-body" data-bind="visible: vm.selected.patient.id">
      <div class="widget-main padding-0">
        <h5>
          <span data-bind="text: vm.selected.patient.lastName"></span>
          <span data-bind="text: vm.selected.patient.firstName" class="text-capitalize"></span>
            &nbsp;|&nbsp; Karta №: <span data-bind="text: vm.selected.patient.id"></span>
        </h5>
        <hr style="margin-top: 0px; margin-bottom: 15px">
        <div class="row no-margin-right">
          <div class="col-sm-3">
            <img height="150" class="thumbnail inline no-margin-bottom center-block" alt="Avatar" src="assets/images/avatars/avatar2.png"/>
          </div>
          <div class="col-sm-9">
          </div>
          <ul class="list-unstyled spaced">
            <li class="no-margin-top">
              <div data-bind="if: !vm.selected.patient.supervisedOutJson.date()">
                <i class="ace-icon fa fa-calendar-check-o bigger-110 green" style="padding-left: 2px;"></i>
                Nazoratga olindi: <span data-bind="text: vm.formatDate(vm.selected.patient.createdAt(), 'MMMM DD, YYYY HH:mm')"></span>
                <a href="#" class="red pull-right" data-bind="click: vm.onSupervisedOutModalOpen">
                  <i class="fa fa-calendar-times-o"></i> Nazoratdan chiqarish
                </a>
              </div>
              <div data-bind="if: vm.selected.patient.supervisedOutJson.date()">
                <i class="ace-icon fa fa-calendar-times-o bigger-110 red" style="padding-left: 2px;"></i>
                <span data-bind="visible: vm.selected.patient.supervisedOutJson.reason() == 'recovery'">Tuzalganligi tufayli </span>
                <span data-bind="visible: vm.selected.patient.supervisedOutJson.reason() == 'dead'">Vafot qilganligi tufayli </span>
                nazoratdan chiqarilgan: <span data-bind="text: vm.formatDate(parseInt(vm.selected.patient.supervisedOutJson.date()), 'MMMM DD, YYYY HH:mm')"></span>
              </div>
            </li>
            <li>
              <i data-bind="visible: vm.selected.patient.gender() == 'Male'" class="fa fa-male ace-icon bigger-110 purple"></i>
              <i data-bind="visible: vm.selected.patient.gender() == 'Female'" class="fa fa-female ace-icon bigger-110 purple" style="padding-left: 4px;"></i>
              <span data-bind="text: vm.selected.patient.birthDate"></span>
            </li>
            <li>
              <i class="ace-icon fa fa-hospital-o bigger-110 red"></i>
              <span data-bind="text: vm.selected.patient.clientGroup.code"></span>
              <span class="text-muted" data-bind="text: vm.selected.patient.clientGroup.name"></span>
              <span class="text-muted" data-bind="text: vm.selected.patient.patientDataJson.bloodGroup"></span>
            </li>
            <li>
              <i style="vertical-align: middle;" class="ace-icon fa fa-mobile bigger-140 blue"></i>
              <span data-bind="text: vm.selected.patient.patientDataJson.phoneNumber"></span>
            </li>
            <li>
              <i class="ace-icon fa fa-home bigger-110 blue"></i>
              <span data-bind="text: vm.getDistrictById(vm.selected.patient.village.districtId())"></span> tumani,
              <span data-bind="text: vm.selected.patient.village.name"></span> qishloqi,
              <span data-bind="text: vm.selected.patient.patientDataJson.province"></span> mahallasi,
              <span data-bind="text: vm.selected.patient.patientDataJson.street"></span> ko'chasi,
              <span data-bind="text: vm.selected.patient.patientDataJson.home"></span> - uy
            </li>
            <li>
              <i class="ace-icon fa fa-info-circle bigger-110 blue"></i>
              <span data-bind="text: vm.selected.patient.patientDataJson.work"></span>
              <span data-bind="text: vm.selected.patient.patientDataJson.position"></span>
            </li>
          </ul>
        </div>

        @*TIBBIY KO'RIK KO'RSATMALARI*@
        <div class="row no-margin-right">
          <div class="col-xs-9">
            <h5 class="blue"><span class="fa fa-stethoscope"></span> TIBBIY KO'RIK KO'RSATMALARI</h5>
          </div>
          <div class="col-xs-3">
            <a href="#" class="green pull-right" style="margin-top: 10px" data-bind="click: vm.onClickAddCheckUp"><i class="fa fa-plus-square"></i> Yangi tibbiy ko'rik</a>
          </div>
        </div>
        <div class="alert alert-warning" data-bind="visible: vm.checkUps().length == 0">
          <span class="text-center text-warning"><span class="fa fa-warning"></span> Tibbiy ko'rik ko'rsatmalari mavjud emas!</span>
        </div>
        <table class="table table-hover items-list" style="margin-bottom: 0px;">
          <tbody data-bind="foreach: vm.checkUps">
            <tr data-bind="css: {'bg-danger': $root.vm.selected.checkUp.id() == $data.id}">
              <td width="7%" class="text-center h3" style="border: 0px!important;">
                <span class="fa fa-circle-thin purple" data-bind="visible: !$data.finishedAt"></span>
                <span class="fa fa-circle purple" data-bind="visible: $data.finishedAt"></span>
              </td>
              <td width="93%" style="border: 0px!important;">
                Onkolog - <span data-bind="text: $data.user.lastName"></span>&nbsp;
                <span data-bind="text: $data.user.firstName"></span>&nbsp;
                <span data-bind="text: $data.user.middleName"></span>
                <span class="pull-right green">
                  <a href="#" class="orange" data-bind="click: $root.vm.onCheckUpEdit(false)"><i class="fa fa-pencil"></i> Tahrirlash &nbsp;</a>
                  <a href="#" class="red" data-bind="click: $root.vm.onCheckUpEdit(true), visible: !$data.finishedAt"><i class="fa fa-check-circle"></i> Ko'rikni tugallash &nbsp;</a>
                  <a href="#" class="blue"><i class="fa fa-print"></i> Chop qilish</a>
                </span>
                <div class="text-muted">
                  <span class="fa fa-calendar"></span>
                  <span data-bind="text: $root.vm.formatDate($data.startedAt, 'MMMM DD, YYYY HH:mm')"></span> &nbsp;
                  <span class="fa fa-file-text-o"></span>
                  <span data-bind="text: $data.diagnose"></span>&nbsp;
                  <span class="fa fa-hospital-o"></span>
                  <span data-bind="visible: $data.receiveInfoJson.receiveType == 'polyclinic'">Poliknikada ko'rik</span>
                  <span data-bind="visible: $data.receiveInfoJson.receiveType == 'home'">Uyda ko'rik</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        @*UMUMIY MA'LUMOTLAR*@
        <h5 class="blue"><span class="fa fa-info-circle"></span> UMUMIY MA'LUMOTLAR</h5>
        <table class="table table-hover items-list">
          <tbody>
            <tr>
              <td width="7%" class="text-center h3" ><span class="fa fa-line-chart purple" ></span></td>
              <td width="93%" >
                Kasallik tarixi
                <div class="text-muted">
                  Qabul va ko'rik tahlillari natijalari
                </div>
              </td>
            </tr>
            <tr>
              <td width="7%" class="text-center h3" ><span class="fa fa-file purple" ></span></td>
              <td width="93%" >
                Elektron hujjatlar
                <div class="text-muted">
                  Tizimga yuklangan barcha elektron ma'lumotlar
                </div>
              </td>
            </tr>
            <tr>
              <td width="7%" class="text-center h3" ><span class="fa fa-info purple" ></span></td>
              <td width="93%" >
                So'rov va shikoyatlar
                <div class="text-muted">
                  Bemor to'g'risidagi qo'shimcha ma'lumotlar
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
  </div>
</div>

<div id="check-up-modal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Tibbiy ko'rik</h4>
      </div>
      <div class="modal-body">
        <form action="@controllers.routes.CardIndexController.modifyCheckUp" id="check-up-form"
        enctype="multipart/form-data" method="post">
          <div class="form-group row">
            <div class="col-xs-6">
              <label for="startedAt">Tekshiruv sanasi</label>
              <div class="input-group date" id="startedAt" data-bind="datetimepicker: vm.selected.checkUp.startedAt,
                dateTimePickerOptions: {pickTime: true}">
                <input type='text' name="startedAt" class="form-control" data-bind="value: vm.selected.checkUp.startedAt"/>
                <span class="input-group-addon">
                  <span class="fa fa-calendar"></span>
                </span>
              </div>
            </div>
            <div class="col-xs-6">
              <label for="patientName">Bemor</label>
              <input type="text" id="patientName" name="patientName" data-bind="value: vm.selected.patient.firstName() + ' ' + vm.selected.patient.lastName()" class="form-control"/>
              <input type="hidden" name="patientId" data-bind="value: vm.selected.patient.id">
              <input type="hidden" name="checkUpId" data-bind="value: vm.selected.checkUp.id">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-6">
              <label for="receiveType">Ko'rik amalga oshirildi</label>
              <select class="form-control" autocomplete="off" id="receiveType" name="receiveType" data-bind="value: vm.selected.checkUp.receiveInfoJson.receiveType">
                <option value></option>
                <option value="polyclinic">Poliklinikada</option>
                <option value="home">Uyda</option>
              </select>
            </div>
            <div class="col-xs-6">
              <label for="receiveReason">Ko'rik sababi</label>
              <select class="form-control" autocomplete="off" id="receiveReason" name="receiveReason" data-bind="value: vm.selected.checkUp.receiveInfoJson.receiveReason">
                <option value></option>
                <option value="simple">Odatiy ko'rik</option>
                <option value="illness">Kasallik sabab ko'rik</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-12">
              <label for="complaint">Shikoyat</label>
              <div>
                <input type="text" id="complaint" name="complaint" data-bind="value: vm.selected.checkUp.complaint" class="form-control" />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-6">
              <label for="objInfo">Obyektiv ma'lumot</label>
              <textarea id="objInfo" name="objInfo" rows="3" data-bind="value: vm.selected.checkUp.objInfo" class="form-control"></textarea>
            </div>
            <div class="col-xs-6">
              <label for="objReview">Obyektiv ko'rik</label>
              <textarea id="objReview" name="objReview" rows="3" data-bind="value: vm.selected.checkUp.objReview" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-12">
              <label for="statusLocalis">Status localis</label>
              <div>
                <input type="text" id="statusLocalis" name="statusLocalis" data-bind="value: vm.selected.checkUp.statusLocalis" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-12">
              <label for="attachments">Tibbiy ko'rik tahlillari</label>
              <div class="input-group" id="attachments">
                <span class="input-group-btn">
                  <label class="btn btn-inverse btn-white">
                    <span class="ace-icon fa fa-files-o icon-on-right bigger-110"></span>
                    Fayllarni yuklash
                    <input type="file" style="display: none;" name="files[]" data-bind="event:{ change: vm.onFileSelected }" multiple>
                  </label>
                </span>
                <input type="text" class="form-control" data-bind="value: vm.fileUploadedInfo" readonly>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-6">
              <label for="diagnose">Tashhis</label>
              <textarea id="diagnose" name="diagnose" rows="3" data-bind="value: vm.selected.checkUp.diagnose" class="form-control"></textarea>
            </div>
            <div class="col-xs-6">
              <label for="recommendation">Tavsiya</label>
              <textarea id="recommendation" name="recommendation" rows="3" data-bind="value: vm.selected.checkUp.recommendation" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-6">
              <label for="doctorName">Shifokor</label>
              <input type="text" id="doctorName" name="doctorName" class="form-control"/>
              <input type="hidden" id="userId" name="userId"/>
            </div>
            <div class="col-xs-6" data-bind="visible: vm.selected.checkUp.finishedAt()">
              <label for="finishedAt">Tekshiruv yakunlanish sanasi</label>
              <div class="input-group date" id="finishedAt" data-bind="datetimepicker: vm.selected.checkUp.finishedAt,
                dateTimePickerOptions: {pickTime: true}">
                <input type='text' name="finishedAt" class="form-control" data-bind="value: vm.selected.checkUp.finishedAt"/>
                <span class="input-group-addon">
                  <span class="fa fa-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-offset-4 col-xs-8">
              <button type="submit" class="pull-left btn btn-primary" data-bind="click: vm.onSubmitCheckUp, disable: vm.isLoading">Saqlash</button>
              <div class="pull-left">&nbsp; &nbsp;</div>
              <button type="button" class="pull-left btn btn-danger" data-dismiss="modal">Bekor qilish</button> &nbsp;
              <div class="pull-left">&nbsp; &nbsp;</div>
              <div class="pull-left busy-loader" data-bl-selector=".app-select" data-bl-url="card-index/check-up"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="supervised-out-modal" class="modal fade in" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="smaller lighter blue no-margin">Bemorni nazoratdan chiqarish</h3>
      </div>

      <div class="modal-body">
        <div class="form-group row">
          <div class="col-xs-6">
            <label for="superviseDate">Sana</label>
            <div class="input-group date" id="superviseDate" data-bind="datetimepicker: vm.selected.patient.supervisedOutJson.date,
                dateTimePickerOptions: {pickTime: true}">
              <input type='text' class="form-control" data-bind="value: vm.selected.patient.supervisedOutJson.date"/>
              <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
          <div class="col-xs-6">
            <label for="superviseReason">Nazoratdan chiqarilish sababi</label>
            <select class="form-control" autocomplete="off" id="superviseReason" data-bind="value: vm.selected.patient.supervisedOutJson.reason">
              <option value></option>
              <option value="recovery">Tuzalganligi tufayli</option>
              <option value="dead">Vafot etganligi tufayli</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-6">
            <label for="superviseComments">Ma'lumotlar</label>
            <textarea id="superviseComments" rows="3" data-bind="value: vm.selected.patient.supervisedOutJson.comments" class="form-control"></textarea>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
          <i class="ace-icon fa fa-times"></i>
          Bekor qilish
        </button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-sm btn-primary pull-right" data-bind="click: vm.onSaveSupervisedOut">
          <i class="ace-icon fa fa-save"></i>
          Saqlash
        </button>
      </div>
    </div>
  </div>
</div>