@()
<div class="col-sm-8 widget-container-col no-padding-right" id="widget-container-col-2">
  <div class="widget-box transparent" id="widget-box-12">
    <div class="widget-header">
      <h4 class="widget-title lighter">UMUMIY MA'LUMOTLAR</h4>

      <div class="widget-toolbar no-border">
        <a href="#" data-action="settings">
          <i class="ace-icon fa fa-cog"></i>
        </a>

        <a href="#" data-action="reload">
          <i class="ace-icon fa fa-refresh"></i>
        </a>
@*
        <a href="#" data-action="edit" data-bind="click: vm.onClickUpdatePatient, enable: vm.selected.patient.id()">
          <i class="ace-icon fa fa-edit"></i>
        </a>

        <a href="#" data-action="remove" data-bind="click: vm.onClickRemovePatient, enable: vm.selected.patient.id()">
          <i class="ace-icon fa fa-trash-o"></i>
        </a>
  *@
      </div>
    </div>

    <div class="widget-body">
      <div class="widget-main padding-0">

      </div>
    </div>
  </div>
</div>
