@import org.webjars.play.WebJarsUtil

@(title: String)(content: Html)(implicit webJarsUtil: WebJarsUtil)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="description" content="Mailbox with some customizations as described in docs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <title>OncoCensus</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/bootstrap.min.css")" />
    <link rel="stylesheet" href="@routes.Assets.versioned("/font-awesome/4.5.0/css/font-awesome.min.css")" />
    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/fonts.googleapis.com.css")" />
    <!-- ace styles -->
    <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/ace.min.css")" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/ace-part2.min.css")" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/ace-skins.min.css")" />
    <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/ace-rtl.min.css")" />

    <!--[if lte IE 9]>
		<link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/ace-ie.min.css")" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="@routes.Assets.versioned("/javascripts/ace-extra.min.js")"></script>
    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
		<script src="@routes.Assets.versioned("/javascripts/html5shiv.min.js")"></script>
		<script src="@routes.Assets.versioned("/javascripts/respond.min.js")"></script>
    <![endif]-->

    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script src="@routes.Assets.versioned("/javascripts/jquery-2.1.4.min.js")"></script>
      <!-- <![endif]-->

      <!--[if IE]>
    <script src="@routes.Assets.versioned("/javascripts/jquery-1.11.3.min.js")"></script>
    <![endif]-->
    <script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='public/javascripts/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
    <script src="@routes.Assets.versioned("/javascripts/bootstrap.min.js")"></script>

      <!-- page specific plugin scripts -->

      <!--[if lte IE 8]>
    <script src="@routes.Assets.versioned("/javascripts/excanvas.min.js")"></script>
    <![endif]-->
    <script src="@routes.Assets.versioned("/javascripts/jquery-ui.custom.min.js")"></script>
    <script src="@routes.Assets.versioned("/javascripts/jquery.ui.touch-punch.min.js")"></script>
    <script src="@routes.Assets.versioned("/javascripts/jquery-ui.custom.min.js")"></script>
    @*<script src="@routes.Assets.versioned("/javascripts/jquery.easypiechart.min.js")"></script>*@
    @*<script src="@routes.Assets.versioned("/javascripts/jquery.sparkline.index.min.js")"></script>*@
    @*<script src="@routes.Assets.versioned("/javascripts/jquery.flot.min.js")"></script>*@
    @*<script src="@routes.Assets.versioned("/javascripts/jquery.flot.pie.min.js")"></script>*@
    @*<script src="@routes.Assets.versioned("/javascripts/jquery.flot.resize.min.js")"></script>*@
    @*<script src="@routes.Assets.versioned("/javascripts/buttons.flash.min.js")"></script>*@
    @*<script src="@routes.Assets.versioned("/javascripts/buttons.html5.min.js")"></script>*@
    @*<script src="@routes.Assets.versioned("/javascripts/buttons.print.min.js")"></script>*@
    @*<script src="@routes.Assets.versioned("/javascripts/buttons.colVis.min.js")"></script>*@
    <script src="@routes.Assets.versioned("/javascripts/jquery.dataTables.min.js")"></script>
    <script src="@routes.Assets.versioned("/javascripts/jquery.dataTables.bootstrap.min.js")"></script>
    @*<script src="@routes.Assets.versioned("/javascripts/dataTables.buttons.min.js")"></script>*@
    @*<script src="@routes.Assets.versioned("/javascripts/dataTables.select.min.js")"></script>*@

    <!-- ace scripts -->
    <script src="@routes.Assets.versioned("/javascripts/ace-elements.min.js")"></script>
    <script src="@routes.Assets.versioned("/javascripts/ace.min.js")"></script>
    <script src="@routes.Assets.versioned("/javascripts/polyfills.js")"></script>

    @Html(webJarsUtil.script("knockout.js"))
    <script src="@routes.Assets.versioned("lib/knockout.mapping-latest.js")"></script>
    @Html(webJarsUtil.script("lodash.min.js"))
    <script src="@routes.Assets.versioned("javascripts/common.assist.js")"></script>
  </head>
  <body style="background-color: white!important;">
    @content
  </body>
</html>
