@()
<div class="pull-left tableTools-container">
  <div class="dt-buttons btn-overlap btn-group">
    <a data-bind="click: vm.onClickAddUserButton" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" aria-controls="dynamic-table" data-original-title title>
      <span>
        <i class="fa fa-plus"></i>
        <span>Yangi foydalanuvchi qo'shish</span>
      </span>
    </a>
  </div>
</div>

<div class="clearfix"></div>

<div>
  <!-- ko template: {name: 'users-table-template', data: {users: vm.users, vm: vm}} -->
  <!-- /ko -->
</div>

<script type="text/html" id="users-table-template">
  <table class="table table-bordered table-hover users-table no-margin-bottom">
    <thead>
      <tr>
        <th>
        <span>Sana</span><br>
        <span class="nowrap">Yaratildi&nbsp;<span class="glyphicon glyphicon-sort sort-arrow"></span></span><br>
        <span class="nowrap">O'zgardi&nbsp;<span class="glyphicon glyphicon-sort sort-arrow" title="Sort by Updated Date"></span></span>
        </th>
        <th class="medium-col">
        Login&nbsp;<span class="glyphicon glyphicon-sort sort-arrow" title="Sort column"></span>
        </th>
        <th width="260px">
        <div class="pull-left">Foydalanuvchi Role</div>
        </th>
        <th>Familiya<span class="nowrap">&nbsp;<span class="glyphicon glyphicon-sort sort-arrow"
        title="Familiya bo'yicha saralash"></span></span>
        </th>
        <th>Ism<span class="nowrap">&nbsp;<span class="glyphicon glyphicon-sort sort-arrow"
        title="Ism bo'yicha saralash"></span></span>
        </th>

        <th>Otasining ismi<span class="nowrap">&nbsp;<span class="glyphicon glyphicon-sort sort-arrow"
        title="Otasining ismi bo'yicha saralash"></span></span>
        </th>
        <th>Tibbiy bo'lim</th>
        <th>Email</th>
        <th>Telefon (Mobil)<br>raqam</th>
        <th class="column-action"></th>
      </tr>
    </thead>

    <tbody data-bind="foreach: $data.users">
      <tr>
        <td>
        <span class="nowrap" data-bind="text: $root.vm.formatDate($data.createdAt)"></span><br>
        <span class="nowrap" data-bind="text: $root.vm.formatDate($data.updatedAt)"></span>
        </td>
        <td class="break-word medium-col"><span data-bind="text: $data.login"></span></td>
        <td class="medium-col"></td>
        <td><span data-bind="text: $data.firstName"></span></td>
        <td><span data-bind="text: $data.lastName"></span></td>
        <td><span data-bind="text: $data.middleName"></span></td>
        <td><div data-bind="text: $data.departmentName"></div></td>
        <td><div data-bind="text: $data.email"></div></td>
        <td><span data-bind="text: $data.phoneNumber"></span></td>
        <td class="nowrap column-action">
          <button type="button" data-bind="click: $root.vm.onClickEditUserButton" class="btn btn-white btn-warning btn-bold btn-sm" title="Tahrirlash">
            <span class="fa fa-edit bigger-120 orange"></span>
          </button>
          <button type="button" data-bind="click: $root.vm.deleteUser" class="btn btn-white btn-danger btn-bold btn-sm" title="O'chirish">
            <span class="fa fa-trash-o bigger-120 red"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<div id="add-user-modal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Yangi foydalanuvchi yaratish</h4>
      </div>

      <div class="modal-body">
        <div data-bind="template: {name: 'form-fields-template', data: vm.selected.user}"></div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-primary pull-left add-user" data-bind="click: vm.createUser, disable: vm.isLoading">
          <i class="ace-icon fa fa-save"></i>
          Saqlash
        </button>
        <div class="busy-loader pull-left" data-bl-selector=".add-user" data-bl-url="settings/user"></div>
        <button class="btn btn-sm pull-right" data-dismiss="modal">
          <i class="ace-icon fa fa-times"></i>
          Bekor qilish
        </button>
      </div>
    </div>
  </div>
</div>

<div id="edit-user-modal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Foydalanuvchini tahrirlash</h4>
      </div>

      <div class="modal-body">
        <div data-bind="template: {name: 'form-fields-template', data: vm.selected.user}"></div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-primary pull-left edit-user" data-bind="click: vm.editManager, disable: vm.isLoading">
          <i class="ace-icon fa fa-save"></i>
          Saqlash
        </button>
        <div class="busy-loader pull-left" data-bl-selector=".edit-user" data-bl-url="settings/user"></div>
        <button class="btn btn-sm pull-right" data-dismiss="modal">
          <i class="ace-icon fa fa-times"></i>
          Bekor qilish
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="form-fields-template">
  <div class="form-group row">
    <div class="col-xs-6">
      <label for="login">Login</label>
      <input type="text" class="form-control" id="login" data-bind="value: $data.login" name="login">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-4">
      <label for="lastName">Familiya</label>
      <input type="text" class="form-control" id="lastName" data-bind="value: $data.lastName" name="lastName">
    </div>
    <div class="col-xs-4">
      <label for="firstName">Ism</label>
      <input type="text" class="form-control" id="firstName" data-bind="value: $data.firstName" name="firstName">
    </div>
    <div class="col-xs-4">
      <label for="middleName">Otasining ismi</label>
      <input type="text" class="form-control" id="middleName" data-bind="value: $data.middleName" name="middleName">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12">
      <label for="department">Tibbiy bo'lim</label>
      <select class="form-control" autocomplete="off" name="department" id="department"
        data-bind="options: $root.vm.departments, optionsText: 'name', optionsValue: 'id', value: $data.departmentId, optionsCaption: 'Tibbiy bo\'lim'">
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-6">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" data-bind="value: $data.email">
    </div>
    <div class="col-xs-6">
      <label for="phoneNumber">Telefon raqam</label>
      <input type="text" class="form-control" id="phoneNumber" data-bind="value: $data.phoneNumber">
    </div>
  </div>
</script>