@()
<div class="pull-right tableTools-container">
  <div class="dt-buttons btn-overlap btn-group">
    <a data-bind="click: vm.onClickAddUserButton" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" aria-controls="dynamic-table" data-original-title title>
      <span>
        <i class="fa fa-plus"></i>
        <span>Yangi foydalanuvchi qo'shish</span>
      </span>
    </a>
  </div>
</div>

<div class="clearfix"></div>

<div>
  <!-- ko template: {name: 'users-table-template', data: {users: vm.users, vm: vm}} -->
  <!-- /ko -->
</div>

<script type="text/html" id="users-table-template">
  <table class="table table-bordered table-hover users-table">
    <thead>
      <tr>
        <th>
        <span>Sana</span><br>
        <span class="nowrap">Yaratildi&nbsp;<span class="glyphicon glyphicon-sort sort-arrow"></span></span><br>
        <span class="nowrap">O'zgardi&nbsp;<span class="glyphicon glyphicon-sort sort-arrow" title="Sort by Updated Date"></span></span>
        </th>
        <th class="medium-col">
        Login&nbsp;<span class="glyphicon glyphicon-sort sort-arrow" title="Sort column"></span>
        </th>
        <th width="260px">
        <div class="pull-left">Foydalanuvchi Role</div>
        </th>
        <th>Familiya<span class="nowrap">&nbsp;<span class="glyphicon glyphicon-sort sort-arrow"
        title="Familiya bo'yicha saralash"></span></span>
        </th>
        <th>Ism<span class="nowrap">&nbsp;<span class="glyphicon glyphicon-sort sort-arrow"
        title="Ism bo'yicha saralash"></span></span>
        </th>

        <th>Otasining ismi<span class="nowrap">&nbsp;<span class="glyphicon glyphicon-sort sort-arrow"
        title="Otasining ismi bo'yicha saralash"></span></span>
        </th>
        <th>Email</th>
        <th>Telefon (Mobil)<br>raqam</th>
        <th class="column-action"></th>
      </tr>
    </thead>

    <tbody data-bind="foreach: $data.users">
      <tr>
        <td>
        <span class="nowrap" data-bind="text: $root.vm.formatDate($data.createdAt)"></span><br>
        <span class="nowrap" data-bind="text: $root.vm.formatDate($data.updatedAt)"></span>
        </td>
        <td class="break-word medium-col"><span data-bind="text: $data.login"></span></td>
        <td class="medium-col"></td>
        <td><span data-bind="text: $data.firstName"></span></td>
        <td><span data-bind="text: $data.lastName"></span></td>
        <td><span data-bind="text: $data.middleName"></span></td>
        <td><div class="email-txt" data-bind="text: $data.email"></div></td>
        <td><span data-bind="text: $data.phoneNumber"></span></td>
        <td class="nowrap column-action">
        <p>
        <button type="button" class="btn btn-info btn-xs" title="Tahrirlash">
        <span class="glyphicon glyphicon-pencil"></span>
        </button>&nbsp;
        <button type="button" class="btn btn-danger btn-xs" title="O'chirish">
        <span class="glyphicon glyphicon-remove"></span>
        </button>&nbsp;
        <button type="button" class="btn btn-primary btn-xs" title="Parolni o'zgartirish">
        &nbsp;<strong>P</strong>&nbsp;
        </button>&nbsp;
        <button type="button" class="btn btn-warning btn-xs" title="Foydalanuvchini ochish">
        &nbsp;<strong>U</strong>&nbsp;
        </button>
        </p>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<div id="add-user-modal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Yangi foydalanuvchi yaratish</h4>
      </div>

      <div class="modal-body">
        <div data-bind="template: {name: 'form-fields-template', data: vm.selected.user}" class="form-condensed row"></div>
        <div class="col-xs-offset-4 col-xs-6">
          <button type="submit" class="pull-left btn btn-primary add-user" data-bind="click: vm.addNewManager, disable: vm.isLoading">Qo'shish</button>
          <div class="pull-left">&nbsp; &nbsp;</div>
          <button type="button" class="pull-left btn btn-danger" data-dismiss="modal">Bekor qilish</button> &nbsp;
          <div class="pull-left">&nbsp; &nbsp;</div>
          <div class="pull-left busy-loader" data-bl-selector=".add-user, .app-select" data-bl-url="settings/user"></div>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

<div id="edit-user-modal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Foydalanuvchini tahrirlash</h4>
      </div>

      <div class="modal-body">
        <div data-bind="template: {name: 'form-fields-template', data: vm.selected.user}" class="form-condensed row"></div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" data-bind="click: vm.editManager, disable: vm.isLoading">Saqlash</button> &nbsp;
          <button type="button" class="btn btn-danger" data-dismiss="modal">Bekor qilish</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="form-fields-template">
  <form class="form-horizontal">
    <div class="form-group col-xs-12">
      <label class="col-xs-3 control-label no-padding-right" for="inputLogin">Login</label>
      <div class="col-xs-6">
        <input type="text" class="form-control" id="inputLogin" data-bind="value: $data.login" name="login1">
        <input type="text" class="hidden" name="login1">
      </div>
    </div>
    <div class="hr hr-15 hr-dotted"></div>
    <div class="clearfix"></div>

    <div class="form-group col-xs-12">
      <label class="col-xs-3 control-label no-padding-right" for="input2">Familiya</label>
      <div class="col-xs-6">
        <input type="text" class="form-control" id="input2" data-bind="value: $data.lastName" name="lastname1">
        <input type="text" class="hidden" name="lastname1">
      </div>
    </div>

    <div class="form-group col-xs-12">
      <label class="col-xs-3 control-label no-padding-right" for="input3">Ism</label>
      <div class="col-xs-6">
        <input type="text" class="form-control" id="input3" data-bind="value: $data.firstName" name="firstname1">
        <input type="text" class="hidden" name="firstname1">
      </div>
    </div>

    <div class="form-group col-xs-12">
      <label class="col-xs-3 control-label no-padding-right" for="input4">Otasining ismi</label>
      <div class="col-xs-6">
        <input type="text" class="form-control" id="input4" data-bind="value: $data.lastName" name="middlename1">
        <input type="text" class="hidden" name="middlename1">
      </div>
    </div>
    <div class="hr hr-15 hr-dotted"></div>

    <!--
          <div class="form-group col-xs-12">
            <label class="col-xs-3 control-label no-padding-right" for="input5">Viloyat</label>
            <div class="col-xs-6">
              <select class="form-control" autocomplete="off" name="priority" id="priority"
              data-bind="options: vm.issuePriorities, optionsText: 'description', optionsValue: 'priority', value: vm.selectedPriority, optionsCaption: 'Priority'">
              </select>
            </div>
          </div>

          <div class="form-group col-xs-12">
            <label class="col-xs-3 control-label no-padding-right" for="input6">Tuman</label>
            <div class="col-xs-6">
              <select class="form-control" autocomplete="off" name="priority" id="priority"
              data-bind="options: vm.issuePriorities, optionsText: 'description', optionsValue: 'priority', value: vm.selectedPriority, optionsCaption: 'Priority'">
              </select>
            </div>
          </div>
          -->

    <div class="form-group col-xs-12">
      <label class="col-xs-3 control-label no-padding-right" for="input7">Tibbiy muassasa</label>
      <div class="col-xs-6">
        <input type="text" class="form-control" id="input7" data-bind="value: $data.department">
      </div>
    </div>

    <div class="hr hr-15 hr-dotted"></div>

    <div class="form-group col-xs-12">
      <label class="col-xs-3 control-label no-padding-right" for="input8">Email</label>
      <div class="col-xs-6">
        <input type="text" class="form-control" id="input8" data-bind="value: $data.email">
      </div>
    </div>

    <div class="form-group col-xs-12">
      <label class="col-xs-3 control-label no-padding-right" for="input9">Telefon raqam</label>
      <div class="col-xs-6">
        <input type="text" class="form-control" id="input9" data-bind="value: $data.phoneNumber">
      </div>
    </div>
  </form>
</script>