@()
<div class="pull-left tableTools-container">
  <div class="dt-buttons btn-overlap btn-group">
    <a data-bind="click: vm.onClickAddUserButton" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" aria-controls="dynamic-table" data-original-title title>
      <span>
        <i class="fa fa-plus"></i>
        <span>Yangi foydalanuvchi qo'shish</span>
      </span>
    </a>
  </div>
</div>
<div class="clearfix"></div>

<div>
  <table class="table table-bordered table-hover users-table no-margin-bottom">
    <thead>
      <tr>
        <th>
          <span class="nowrap">Yaratildi&nbsp;<span class="glyphicon glyphicon-sort sort-arrow"></span></span>
        </th>
        <th>
          <span class="nowrap">O'zgardi&nbsp;<span class="glyphicon glyphicon-sort sort-arrow"></span></span>
        </th>
        <th class="medium-col">
          Login&nbsp;<span class="glyphicon glyphicon-sort sort-arrow" title="Sort column"></span>
        </th>
        <th width="260px">
          <div class="pull-left">Foydalanuvchi Role</div>
        </th>
        <th>Familiya<span class="nowrap">&nbsp;<span class="glyphicon glyphicon-sort sort-arrow"
        title="Familiya bo'yicha saralash"></span></span>
        </th>
        <th>Ism<span class="nowrap">&nbsp;<span class="glyphicon glyphicon-sort sort-arrow"
        title="Ism bo'yicha saralash"></span></span>
        </th>

        <th>Otasining ismi<span class="nowrap">&nbsp;<span class="glyphicon glyphicon-sort sort-arrow"
        title="Otasining ismi bo'yicha saralash"></span></span>
        </th>
        <th>Tibbiy bo'lim</th>
        <th>Email</th>
        <th>Telefon (Mobil)<br>raqam</th>
        <th class="column-action"></th>
      </tr>
    </thead>

    <tbody data-bind="foreach: vm.users">
      <tr>
        <td data-bind="text: $root.vm.formatDate($data.createdAt)"></td>
        <td data-bind="text: $root.vm.formatDate($data.updatedAt)"></td>
        <td class="break-word medium-col"><span data-bind="text: $data.login"></span></td>
        <td class="medium-col" data-bind="text: $data.roleCodesArr"></td>
        <td><span data-bind="text: $data.firstName"></span></td>
        <td><span data-bind="text: $data.lastName"></span></td>
        <td><span data-bind="text: $data.middleName"></span></td>
        <td><div data-bind="text: $data.departmentName"></div></td>
        <td><div data-bind="text: $data.email"></div></td>
        <td><span data-bind="text: $data.phoneNumber"></span></td>
        <td class="nowrap column-action">
          <button type="button" data-bind="click: $root.vm.onClickEditUserButton" class="btn btn-white btn-warning btn-bold btn-sm" title="Tahrirlash">
            <span class="fa fa-edit bigger-120 orange"></span>
          </button>
          <button type="button" data-bind="click: $root.vm.deleteUser" class="btn btn-white btn-danger btn-bold btn-sm" title="O'chirish">
            <span class="fa fa-trash-o bigger-120 red"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="user-modal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Foydalanuvchi ma'lumotlarini tahrirlash</h4>
      </div>

      <div class="modal-body">
        <form action="">
          <div class="form-group row">
            <div class="col-xs-6">
              <label for="login">Login</label>
              <input type="text" class="form-control" id="login" data-bind="value: vm.selected.user.login" name="login">
            </div>
            <div class="col-xs-6">
              <label for="role">Foydalanuvchi tipi</label><br>
              <select class="form-control" name="role" id="role"
              data-bind="options: vm.roles, optionsText: 'name', optionsValue: 'code', value: vm.selected.user.roleCodes, optionsCaption: ''">
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-6">
              <label for="password">Parol</label>
              <input type="password" class="form-control" id="password" data-bind="value: vm.selected.user.password" name="password">
            </div>
            <div class="col-xs-6">
              <label for="passwordConfirm">Parolni tasdiqlash</label><br>
              <input type="password" class="form-control" id="passwordConfirm" data-bind="value: vm.selected.user.passwordConfirm" name="passwordConfirm">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-4">
              <label for="lastName">Familiya</label>
              <input type="text" class="form-control" id="lastName" data-bind="value: vm.selected.user.lastName" name="lastName">
            </div>
            <div class="col-xs-4">
              <label for="firstName">Ism</label>
              <input type="text" class="form-control" id="firstName" data-bind="value: vm.selected.user.firstName" name="firstName">
            </div>
            <div class="col-xs-4">
              <label for="middleName">Otasining ismi</label>
              <input type="text" class="form-control" id="middleName" data-bind="value: vm.selected.user.middleName" name="middleName">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-12">
              <label for="departmentId">Tibbiy bo'lim</label>
              <select class="form-control" autocomplete="off" name="departmentId" id="departmentId"
              data-bind="options: vm.departments, optionsText: 'name', optionsValue: 'id', value: vm.selected.user.departmentId, optionsCaption: ''">
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-6">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" data-bind="value: vm.selected.user.email">
            </div>
            <div class="col-xs-6">
              <label for="phoneNumber">Telefon raqam</label>
              <input type="text" class="form-control" id="phoneNumber" data-bind="value: vm.selected.user.phoneNumber">
            </div>
          </div>
        </form>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-primary pull-left save-user" data-bind="click: vm.onSubmitUser, disable: vm.isLoading">
          <i class="ace-icon fa fa-save"></i>
          Saqlash
        </button>
        <div class="busy-loader pull-left" data-bl-selector=".save-user" data-bl-url="settings/user"></div>
        <button class="btn btn-sm pull-right" data-dismiss="modal">
          <i class="ace-icon fa fa-times"></i>
          Bekor qilish
        </button>
      </div>
    </div>
  </div>
</div>