@import views.html.reception
@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil)

@reception.main("OncoCensus"){
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-md-4">
          <h3 class="row smaller lighter blue" style="margin-top: 0px">
            <span class="col-sm-6"> Bemorlar </span><!-- /.col -->

            <span class="col-sm-6">
              <label class="pull-right inline">

                <a href="#" data-action="reload">
                  <i class="ace-icon fa fa-refresh"></i>
                </a>
                <a href="#" data-action="reload">
                  <i class="ace-icon fa fa-table"></i>
                </a>
                <a href="#" data-action="reload">
                  <i class="ace-icon fa fa-plus-circle"></i>
                </a>
              </label>
            </span><!-- /.col -->
          </h3><!-- /.row -->
          <input class="input-sm form-control" width="100%" type="text">
          <div style="margin-top: 5px; margin-bottom: 5px" >
            <a href="#" class="blue">
              <span class="fa fa-search"></span>
              Kengaytirilgan qidiruv
            </a>
          </div>
          <table class="table table-hover">
            <tbody>
              <tr>
                <td width="10%" class="text-center h3"><span class="fa fa-user"></span></td>
                <td width="90%">Ronnie Coleman <br> 38 yosh, CR 1234567</td>
              </tr>
              <tr>
                <td width="10%" class="text-center h3"><span class="fa fa-user"></span></td>
                <td width="90%">Ronnie Coleman <br> 38 yosh, CR 1234567</td>
              </tr>
              <tr>
                <td width="10%" class="text-center h3"><span class="fa fa-user"></span></td>
                <td width="90%">Ronnie Coleman <br> 38 yosh, CR 1234567</td>
              </tr>
              <tr>
                <td width="10%" class="text-center h3"><span class="fa fa-user"></span></td>
                <td width="90%">Ronnie Coleman <br> 38 yosh, CR 1234567</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-8">
          <h3 class="row header smaller lighter" style="margin-top: 0px;">
            <span class="col-sm-6"> Ambulator tibbiy karta </span>
            <span class="col-sm-6">
              <label class="pull-right inline">
                <a href="#" data-action="reload">
                  <i class="ace-icon fa fa-edit"></i>
                  Tahrirlash
                </a>
                <a href="#" data-action="reload">
                  <i class="ace-icon fa fa-remove"></i>
                  O'chirish
                </a>
              </label>
            </span><!-- /.col -->
          </h3>
          <h5 class="blue"><span class="fa fa-male"></span> RAHMONOV ISMAIL | Karta №: 783</h5>
          <hr style="margin-top: 0px; margin-bottom: 15px">
          <div class="row">
            <div class="col-sm-3">
              <img height="150" class="thumbnail inline no-margin-bottom center-block" alt="Avatar" src="assets/images/avatars/avatar2.png"/>
            </div>
            <div class="col-sm-9">
              <span><b>Tug'ulgan sanasi :</b> 02.10.1950, 67 yoshda</span><br>
              <span><b>Passport Seriyasi :</b> AB 4441158</span><br>
              <span><b>Telefon :</b> +998907268629</span><br>
              <span><b>Yashash manzili :</b> Xorazm viloyati Xonqa tumani Navxos qishlog'i Znaxos mahallasi</span><br>
              <span><b>Ish joyi va lavozimi :</b> Nafaqaxo'r</span><br>
              <span><b>Nazoratga olingan sana :</b> 17.05.2017</span><br>
              <span><b>Dispanserizatsiya uchun bog'langan :</b> XVOD</span><br>
              <span><b>Muhim belgilari :</b> MKB-10 SH C-61</span> <span><b>Qon guruhi :</b> IV(+)</span>
            </div>
          </div>
          <h5 class="blue"><span class="fa fa-stethoscope"></span> TIBBIY KO'RIK KO'RSATMALARI</h5>
          <hr style="margin-top: 0px; margin-bottom: 15px">
          <div class="green">
            <i class="fa fa-plus-circle"></i> Yangi tibbiy ko'rik&nbsp;
          </div>
          <table class="table" style="margin-bottom: 0px">
            <tr>
              <td width="7%" class="text-center h3" style="border: 0px!important;"><span class="fa fa-circle-thin purple" ></span></td>
              <td width="93%" style="border: 0px!important;">
                Onkolog - Rahmonov Murod Islombekovich
                <div class="text-muted">
                  <span class="fa fa-calendar"></span> Dushanba, 15 okt 2017 - yil, 13:15 &nbsp;
                  <span class="fa fa-pencil"></span> DR - Rahmonov M, 15.10, 14:30:15
                  <span class="pull-right green">
                    <i class="fa fa-check-circle"></i> Ko'rikni tugallash&nbsp;
                    <i class="fa fa-print blue"></i>
                  </span>
                </div>
              </td>
            </tr>
          </table>
          <h5 class="blue"><span class="fa fa-info-circle"></span> UMUMIY MA'LUMOTLAR</h5>
          <hr style="margin-top: 0px; margin-bottom: 15px">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td width="7%" class="text-center h3" style="border: 0px!important;"><span class="fa fa-line-chart purple" ></span></td>
                <td width="93%" style="border: 0px!important;">
                  Kasallik tarixi
                  <div class="text-muted">
                    Qabul va ko'rik tahlillari natijalari
                  </div>
                </td>
              </tr>
              <tr>
                <td width="7%" class="text-center h3" style="border: 0px!important;"><span class="fa fa-file purple" ></span></td>
                <td width="93%" style="border: 0px!important;">
                  Elektron hujjatlar
                  <div class="text-muted">
                    Tizimga yuklangan barcha elektron ma'lumotlar
                  </div>
                </td>
              </tr>
              <tr>
                <td width="7%" class="text-center h3" style="border: 0px!important;"><span class="fa fa-info purple" ></span></td>
                <td width="93%" style="border: 0px!important;">
                  So'rov va shikoyatlar
                  <div class="text-muted">
                    Bemor to'g'risidagi qo'shimcha ma'lumotlar
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
}
