@import views.html.reception
@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil)

@reception.main("OncoCensus"){
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-md-4">
          <h3 class="row smaller lighter blue" style="margin-top: 0px">
            <span class="col-sm-6"> Be'morlar </span><!-- /.col -->

            <span class="col-sm-6">
              <label class="pull-right inline">

                <a href="#" data-action="reload">
                  <i class="ace-icon fa fa-refresh"></i>
                </a>
                <a href="#" data-action="reload">
                  <i class="ace-icon fa fa-table"></i>
                </a>
                <a href="#" data-action="reload">
                  <i class="ace-icon fa fa-plus-circle"></i>
                </a>
              </label>
            </span><!-- /.col -->
          </h3><!-- /.row -->
          <input class="input-sm form-control" width="100%" type="text">
          <div style="margin-top: 5px; margin-bottom: 5px" >
            <a href="#" class="blue">
              <span class="fa fa-search"></span>
              Kengaytirilgan qidiruv
            </a>
          </div>
          <table class="table table-hover">
            <tbody>
              <tr>
                <td width="10%" class="text-center h3"><span class="fa fa-user"></span></td>
                <td width="90%">Ronnie Coleman <br> 38 yosh, CR 1234567</td>
              </tr>
              <tr>
                <td width="10%" class="text-center h3"><span class="fa fa-user"></span></td>
                <td width="90%">Ronnie Coleman <br> 38 yosh, CR 1234567</td>
              </tr>
              <tr>
                <td width="10%" class="text-center h3"><span class="fa fa-user"></span></td>
                <td width="90%">Ronnie Coleman <br> 38 yosh, CR 1234567</td>
              </tr>
              <tr>
                <td width="10%" class="text-center h3"><span class="fa fa-user"></span></td>
                <td width="90%">Ronnie Coleman <br> 38 yosh, CR 1234567</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-8">
          <h3 class="row header smaller lighter" style="margin-top: 0px">
            <span class="col-sm-6"> Kasallik kartasi </span>
            <span class="col-sm-6">
              <label class="pull-right inline">

                <a href="#" data-action="reload">
                  <i class="ace-icon fa fa-edit"></i>
                  Tahrirlash
                </a>
                <a href="#" data-action="reload">
                  <i class="ace-icon fa fa-remove"></i>
                  O'chirish
                </a>
              </label>
            </span><!-- /.col -->
          </h3>
          <div class="row">
            <div class="col-sm-3">
              <img height="150" class="thumbnail inline no-margin-bottom center-block" alt="Avatar" src="assets/images/avatars/avatar2.png"/>
            </div>
            <div class="col-sm-9">
              <p>RONNIE COLEMAN</p>
              <span>38 yosh, CR 1234567</span><br>
              <span>Xonqa tuman, Paxtakor Mahallasi</span><br>
              <span>Fsddfs dsfgvdf</span><br>
              <span class="fa fa-phone">+998989959969</span><br>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
}
